<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form [formGroup]="formBooking">
                <input type="text" hidden class="form-control" id="id">
                <div class="form-group">
                    <label for="client">Nombre del cliente:</label>
                    <input type="text" class="form-control" id="client"
                    [ngClass]="{
                        'is-invalid': this.formBooking.get('client')?.invalid && formBooking.get('client')?.touched,
                        'is-valid': this.formBooking.get('client')?.valid
                    }"
                    
                    >
                    
                    <div class="invalid-feedback">
                        <small class="text-danger" *ngIf="formBooking.get('client')?.errors?.['required'] && formBooking.get('client')?.touched">Debe indicar el nombre del cliente.</small> <br>
                        <small class="text-danger" *ngIf="formBooking.get('client')?.errors?.['required'] && formBooking.get('client')?.touched">El nombre del cliente no puede estar vacío</small> <br>
                        <small class="text-danger" *ngIf="formBooking.get('client')?.errors?.['required'] && formBooking.get('client')?.touched">El nombre del cliente no puede tener más de 50 caracteres</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Número de Teléfono:</label>
                    <input type="text" class="form-control " id="phone" [ngClass]="{
                        'is-invalid': this.formBooking.get('phone')?.invalid && formBooking.get('phone')?.touched,
                        'is-valid': this.formBooking.get('phone')?.valid
                    }"  >
                    <div  class="invalid-feedback">
                        <small *ngIf="formBooking.get('phone')?.errors?.['required'] && formBooking.get('phone')?.touched">Debe indicar un número de teléfono.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" [ngClass]="{
                        'is-invalid': this.formBooking.get('email')?.invalid && formBooking.get('email')?.touched,
                        'is-valid': this.formBooking.get('email')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small *ngIf="formBooking.get('email')?.errors?.['required'] && formBooking.get('email')?.touched">Debe indicar un email.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="persons">Número de comensales:</label>
                    <input type="numer" class="form-control" id="persons" [ngClass]="{
                        'is-invalid': this.formBooking.get('ncomersal')?.invalid && formBooking.get('ncomersal')?.touched,
                        'is-valid': this.formBooking.get('ncomersal')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small *ngIf="formBooking.get('ncomersal')?.errors?.['required'] && formBooking.get('ncomersal')?.touched">El número de comensales debe ser mayor que 0.</small> <br>
                        <small *ngIf="formBooking.get('ncomersal')?.errors?.['required'] && formBooking.get('ncomersal')?.touched">El número de comensales debe ser menor que 50.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes">Nota:</label>
                    <input type="textarea" row="1" class="form-control" id="notes" [ngClass]="{
                        'is-invalid': this.formBooking.get('notes')?.invalid && formBooking.get('notes')?.touched,
                        'is-valid': this.formBooking.get('notes')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small *ngIf="formBooking.get('notes')?.errors?.['required'] && formBooking.get('notes')?.touched" >La longitud de la nota no puede superar los 240 caracteres.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Fecha reserva:</label>
                    <input type="datetime-local" row="1" class="form-control" id="date"
                     [ngClass]="{
                        'is-invalid': this.formBooking.get('date')?.invalid && formBooking.get('date')?.touched,
                        'is-valid': this.formBooking.get('date')?.valid
                    }">
                    <div  class="invalid-feedback">
                        <small *ngIf="formBooking.get('date')?.errors?.['required'] && formBooking.get('date')?.touched">Debe indicar una fecha para la reserva.</small>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>
